name: Publish to pub.dev
 
on:
  workflow_dispatch:
    inputs:
      version:
        description: "Versão a ser publicada (ex: 1.2.3)"
        required: true
        type: string
 
jobs:
  publish:
    runs-on: ubuntu-latest
 
    # ✅ Só executa se branch for main
    if: github.ref == 'refs/heads/main'
 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
 
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.32.2"
 
      - name: Install dependencies
        run: flutter pub get
 
      - name: Update version in pubspec.yaml
        run: |
          sed -i "s/^version:.*/version: ${{ github.event.inputs.version }}/" pubspec.yaml
 
      - name: Analyze code
        run: flutter analyze
 
      - name: Run tests
        run: flutter test
 
      - name: Check publishing requirements (dry-run)
        run: dart pub publish --dry-run
 
      - name: Save pub.dev credentials
        run: |
          mkdir -p ~/.config/dart
          echo "${{ secrets.CREDENTIAL_JSON }}" > ~/.config/dart/pub-credentials.json
 
      - name: Publish to pub.dev
        run: dart pub publish --force
 
      - name: Cleanup credentials
        if: always()
        run: rm -rf ~/.config/dart